.info-section .card-info {
    border-color: #c166dc !important;
    border-radius: 23px !important;
    display: flex;
    flex-direction: column;
    background: #ffffff1a !important;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
}

.info-section .card-info h1 span.text-warning {
	color: #c166dc !important;	
}
.info-section .card-info button.btn-purple{
	background: #c166dc;
	border-color: #c166dc;
	padding: 8px 23px !important;
    color: white;
}