body{
	font-family: Quicksand,sans-serif;
	background-color: #0a0010 !important;
}
/** Custom Scrollbar Styling */
body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0a0010; /* Background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background: rgb(163 55 196); /* Scrollbar thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}